**Задача 40**
Работать с файлом california_housing_train.csv, который находится в папке
sample_data. Определить среднюю стоимость дома (median_house_value), где кол-во людей от 0 до 500 (population).

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0

In [3]:
filtered_data = df[(df['population'] >= 0) & (df['population'] <= 500)]
mean_median_house_value = filtered_data['median_house_value'].mean()

In [4]:
print("Средняя стоимость дома (median_house_value) при кол-ве людей от 0 до 500:", mean_median_house_value)

Средняя стоимость дома (median_house_value) при кол-ве людей от 0 до 500: 206799.95140186916

**Задача 42:**
Узнать какая максимальная households в зоне минимального значения population.

In [5]:
min_population_zone = df.loc[df.population < df.population.quantile(.25)]
max_households = min_population_zone['households'].max()

In [6]:
print("Максимальное значение households в зоне с минимальным значением population:", max_households)

Максимальное значение households в зоне с минимальным значением population: 597.0