**Задача 44**

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца.
Ваша задача перевести его в one hot вид.
Сможете ли вы это сделать без get_dummies?

In [1]:
import pandas as pd
import random

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  human
3  robot
4  robot

In [2]:
one_hot_data = pd.get_dummies(data['whoAmI'])

one_hot_data

    human  robot
0       1      0
1       1      0
2       1      0
3       0      1
4       0      1
5       1      0
6       0      1
7       1      0
8       1      0
9       1      0
10      1      0
11      0      1
12      1      0
13      0      1
14      0      1
15      1      0
16      0      1
17      0      1
18      0      1
19      0      1

In [4]:
oneHotData = pd.DataFrame({'human': [1 if j == 'human' else 0 for j in lst],
                           'robot': [1 if i == 'robot' else 0 for i in lst]})
oneHotData

    human  robot
0       1      0
1       1      0
2       1      0
3       0      1
4       0      1
5       1      0
6       0      1
7       1      0
8       1      0
9       1      0
10      1      0
11      0      1
12      1      0
13      0      1
14      0      1
15      1      0
16      0      1
17      0      1
18      0      1
19      0      1